{% load wagtailadmin_tags wagtailflags_admin %}

{% if flag %}
  <ul class="breadcrumb flags-breadcrumb">
      <li><a href="{% url 'wagtailflags:list' %}"><span class="title">Flags</span>{% icon name="arrow-right" class_name="arrow_right_icon" %}</a></li>
      <li><a href="#"><span class="title">{{ title }}</span></a></li>
  </ul>

  {% if flag|deletable %}
    {% url 'wagtailflags:delete_flag' flag.name as delete_link %}
    {% include "wagtailadmin/shared/header.html" with title=title action_icon="bin" action_text='Delete flag' action_url=delete_link %}
  {% else %}
    {% include "wagtailadmin/shared/header.html" with title=title icon=icon %}
  {% endif %}
{% else %}
  {% url 'wagtailflags:create_flag' as add_link %}
  {% include "wagtailadmin/shared/header.html" with title=title action_icon=icon action_text='Add flag' action_url=add_link %}
{% endif %}
