{% extends "wagtailadmin/base.html" %}
{% load i18n feature_flags wagtailadmin_tags %}

{% block titletag %}{{ flag.name }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=flag.name icon="flag" %}

    {% if condition_pk %}
    <form class="nice-padding" method="POST" action="{% url 'wagtailflags:edit_condition' flag.name condition_pk %}">
    {% else %}
    <form class="nice-padding" method="POST" action="{% url 'wagtailflags:create_condition' flag.name %}">
    {% endif %}
        {% csrf_token %}
        <ul class="fields">

            {% for field in form %}
            <li {% if field.field.required %}class="required"{% endif %}>
                    {% if not field.is_hidden %}

                    <div class="w-field__wrapper " data-field-wrapper="">
                        <label class="w-field__label" for="id_text" id="id_text-label">
                            {{ field.label }}{% if field.field.required %}<span class="w-required-mark">*</span>{% endif %}
                        </label>
                        <div class="w-field w-field--char_field w-field--text_input" data-field="" data-contentpath="text">
                            <div class="w-field__errors" data-field-errors="">

                            {% if field.errors %}
                                <div class="help-block help-critical" style="margin-top:0;">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                            </div>
                            <div class="w-field__input" data-field-input="">
                                {{ field }}
                            </div>
                        </div>
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </li>
            {% endfor %}

            <li>
                <input class="button action-save button-longrunning" type="submit" value="Save condition" />
                <a class="button no" href="{% url 'wagtailflags:flag_index' flag.name %}">Cancel</a>
            </li>
        </ul>
    </form>
{% endblock %}
